@using PatientApp.Core.Application.ViewModels.User
@model SaveUserViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Register a New User</h4>
                </div>
                <div class="card-body">


                    <form method="post" asp-controller="Home" asp-action="Register">

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">First Name: </label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                          <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Last Name: </label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Login Username: </label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                          <div class="mb-3">
                            <label asp-for="UserType" class="form-label">User type: </label>
                            <select  asp-for="UserType" class="form-select">
                                <option selected>Select user type</option>
                                <option value="1">Administrator</option>
                                <option value="2">Assistant</option>
                            </select>
                            <span asp-validation-for="UserType" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password: </label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Repeat Password: </label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email: </label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

